/*********************************
3. Sidebar
*********************************/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 263px;
    height: 100vh;
    background: #1a1a1a;
    z-index: 100;
}
.auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 0 50px;
}
.auth span {
    color: #fff;
}
.auth button {
    cursor: pointer;
    background-color: #000;
    padding: 4px 12px;
    border: 1px solid #bbe432;
    border-radius: 3px;
    color: #000;
    background-color: #bbe432;
}
.auth button:hover {
    color: #fff;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}
.sidebar_logo {
    padding-left: 25px;
    padding-right: 26px;
    margin-top: 64px;
}
.sidebar_logo a {
    display: block;
}
.sidebar_logo a > div {
    border: solid 2px #bbe432;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 0.75;
    color: #bbe432;
}
.sidebar_logo a > div span {
    text-transform: uppercase;
    color: #ffffff;
}
/* Navigation */
.sidebar_nav {
    padding-left: 45px;
    margin-top: 77px;
}
.sidebar_nav ul {
    display: inline-block;
}
.sidebar_nav ul li:not(:last-child) {
    margin-bottom: 8px;
}
.sidebar_nav ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.sidebar_nav ul li a i {
    margin-left: 10px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.sidebar_nav ul li a:hover {
    color: #bbe432;
}
.sidebar_nav ul li:hover a i {
    color: #bbe432;
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}
